##### Comandi utili con tweepy

In [ ]:
#Mostra i miei follower
for user in tweepy.Cursor(api.get_followers, screen_name="davide_pstars").items():
  print('follower: ' + user.screen_name)

#Mostra chi seguo (amici)
#Nel metodo items si pu√≤ inserire un numero intero, a signifcare il numero di risultati da restituire.
for user in tweepy.Cursor(api.get_friends, screen_name="@davide_pstars").items():
  print('friend: ' + user.screen_name)
  
# Mostro la mia timeline 
stuff = api.user_timeline(screen_name = '@davide_pstars', count = 10)

##### Usare SQL in python

In [ ]:
#Open the terminal and run-   pip install U pandasql
#Open your Jupyter Notebook and in any cell run-    !pip install -U pandasql
import pandasql as ps
q1 = """SELECT id FROM df """
print(ps.sqldf(q1, locals()))

#oppure
import sqlite3
conn = sqlite3.connect('test_database') 
c = conn.cursor()
c.execute('''
          SELECT*
          FROM products
          ''')

df = pd.DataFrame(c.fetchall(), columns = ['product_id', 'product_name', 'price'])
print (df)